<configuration>
	<appender name="static-appender"
		class="com.bk.logging.StaticLogbackAppender" />
	<appender name="threadlocal-appender"
		class="com.bk.logging.ThreadLocalLogbackAppender" />

	<root level="trace">
		<appender-ref ref="static-appender" />
		<appender-ref ref="threadlocal-appender" />
	</root>
</configuration>